<div>
<% @products.each do |product| %>
  <div>
    <b><%= product.name %></b>
    <%= product.sku %>
    <%= product.avg_customer_review %>
    <%= product.short_description %>
    <%= product.sale_price %>
    <%= product.image %>
  </div>
<% end %>
</div>
